PORT=3000
DATABASE_USER=testuser
DATABASE_PASSWORD=password
DATABASE_NAME=testdb
DATABASE_HOST=localhost
DATABASE_PORT=5432
MORALIS_API_KEY=apikey
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=user9@gmail.com
EMAIL_PASSWORD=app_pass